// Specific CSS for your home-page
.pages-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 24px;
}

.tasks-networks {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
}

.tasks {
  background-color: white;
  margin-right: 24px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .board-info {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      padding-right: 48px;
      padding-left: 48px;
      color: #5C5C5C;
      font-size: 16px;
        a {
        text-decoration: none;
        color: rgb(32,96,61);
          &:hover {
          color: blue;
          }
        }
    }
    .tasks-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      align-content: center;
      list-style: none;
      color: #5C5C5C;
      background-color: rgb(246,246,246);
      border-radius: 3px;
      border: solid 1px rgba(228,201,160,.2);
    }
    .task-details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      align-items: center;
      list-style: none;
    }
}

.networks {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .network-info {
    min-height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0 48px;
    font-size: 16px;
    align-items: center;
    color: #5C5C5C;
    a {
      text-decoration: none;
      color: rgb(32,96,61);
      &:hover {
        color: blue;
      }
    }
  }
  .network-chart {
    padding: 16px;
    .pie-chart-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

}
.stats {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
    .line-home {
      p {
      margin-top: 19px;
    }
  }
    .column-chart-home {
    padding: 16px;
    align-items: center;
    flex-direction: row;
    display: flex;
    }
  }
