.form-page {
  margin: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
    select {
      background-color: white;
    }
    textarea {
      background-color: white;
    }
    .form-control {
      background-color: white;
    }
}
