.info {
 h1 {
  font-size: 18px;
  color: grey;
  margin-top: -6px;
 }
 padding: 24px 62px 24px 32px;
 h2 {
   font-size: 16px;
   color: #20603D;
   margin-top: 10px;
   margin-bottom: 10px;
 }
}

.details {
  padding: 16px;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
  font-size: 16px;
  color: grey;
  }
}

.top-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.date {
  display: flex;
}
.start {

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 155px;
  height: 80px;
  margin-right: 10px;
  text-align: center;
    p {
      font-size: 14px;
      color: #20603D;
      margin-top: 9px;
    }
}

.end {

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 155px;
  height: 80px;
  text-align: center;
    p {
      font-size: 14px;
      color: #20603D;
      margin-top: 9px;
    }
}

.address {
  display: flex ;
  margin-top: 30px;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
   background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 200px;
}

.time {
  font-size: 14px;
}

.address-info {
  align-items: center;
  padding: 20px 16px 20px 16px;

  h3 {
  font-size: 16px;
  color: grey;
  }
  li {
   font-size: 16px;
   color: #20603D;
   margin-top: 10px;
   margin-bottom: 10px;
  }
}

.map {
  margin-top: 50px;
  height: 10px;
  width: 500px;
}



.equipment {
  margin-top: 30px;
  h4 {
  font-size: 16px;
  color: grey;
  }
  p {
  font-size: 16px;
   color: #20603D;
   margin-top: 10px;
   margin-bottom: 10px;
  }
}

hr {
  margin-top: 50px;
  margin-top: 50px;
  color: lightgray;

}

.comments {
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
  font-size: 16px;
  color: grey;
  }
}
