.all-tasks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 24px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.task-info-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 93px;
  list-style: none;
  align-items: center;
  text-align: center;
  border-bottom: solid 1px rgba(228,201,160,.2);
  color: #5C5C5C;
}

.single-task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 65px;
  list-style: none;
  align-items: center;
  text-align: center;
  color: #5C5C5C;
    &:hover {
    border: solid 1px blue;
    color: blue;
  }
}

.task-link {
  text-decoration: none;
  color: #5C5C5C;
  }
