.networks-index {
  height: 100vh;
  width: 100vh;
}

.all-networks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 24px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.network-info-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 93px;
  list-style: none;
  align-items: center;
  text-align: center;
  border-bottom: solid 1px rgba(228,201,160,.2);
}

.single-network {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 65px;
  list-style: none;
  align-items: center;
  text-align: center;
    &:hover {
    border: solid 1px blue;
    color: blue;
  }
}

.network-link {
  text-decoration: none;
  color: black;
  }
