<div class="d-flex">
  <div class="hero-banner" style="background-image: url(<%= asset_path 'techs.JPG' %>)">
    <%= link_to root_path do %>
      <div class="home-link">
        <p class="mb-0">INUMA</p>
        <p class="mb-0">TRACK</p>
      </div>
    <% end %>
    <%= link_to root_path do %>
      <div class="home-link">
        <p>WATER ACCESS</p>
      </div>
    <% end %>
  </div>
</div>
