<div class="d-flex">
  <div class="hero-banner" style="background-image: url(<%= asset_path 'background.jpg' %>)">
    <%= link_to "EXPLORE THE INUMA TRACKER", root_path %>
    <p> A VISON TO GO FROM JERRICAN TO GLASSES</p>

  </div>
</div>
