.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.name-and-role {
  padding-right: 32px;
  padding-left: 24px;
  border-left: 1px solid grey;
}

.name-div {
  color: grey;
}

.role-div {
  color: #20603D;
  font-weight: 500;
}
.logo-link{
      img {
        height: 60px;
        width: 60px;
        margin-left: 57px;
      }
      a{
        text-decoration: none;
        font-size: 14px;
          color: #5C5C5C;
          text-align: center;
        padding-left: 0;
      }
    }


.role-div {
  font-size: 14px;
  color: #5C5C5C;
}

.name-div {
  font-size: 14px;
  color: #20603D;
}
